body{
    text-align: center;

}

h1{
    color: red;
    font-weight: 900;
}


h1, h3{
    font-family: 'Lato';
}


/* Navigation Bar*/

.navbar{
    padding-bottom: 0 0 4.5rem;
    position: fixed;
    top: 0;
    width: 100%;
   z-index: 1;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
}

.nav-item{
    font-size: 1.5rem;
    padding: 0 18px;
}

.nav-link{
   /*font-size: 1.2rem;*/ 
    /*font-family: 'Montserrat';*/ 
}

.navbar-nav{
    margin-left: auto; /*tämä, jotta linkit asettuvat oikealle*/
    position: relative;
}

@media (max-width: 1028px ){
    #tt-galleria{
        padding-top: 5px;
        width: 15%;
        text-align: left;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}
@media (max-width: 720px ){
    #tt-galleria{
        padding-top: 5px;
        width: 25%;
        text-align: left;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

/*Galleria*/
#lueLisää{
    display: none;
    font-family: 'Montserrat';
    font-size: 1.5rem;
}
#heart{
    color: red;
}
.startText{
    padding: 15% 25% 5% 25% ;
    background-color: rgb(46, 44, 44);
    color: white;
}
.bigHeading{
    font-size: 4rem;
    margin-bottom: 40px;
}
#button1{
  margin-bottom: 10px;
}

/* Gallerian Kuvat */
.container {
    width: 100%;
    height: 120px;
}

/* resize images */
.container img {
    width: 100%;
    height: auto;
    margin-top: 10%;
    padding: 10%;
}
.part2gallery img:hover {
    cursor: pointer;
  
  /* opacity: 0.7; menee vaalemmaksi*/
}
.row p{
    font-size: 1.5rem;
}


/* Footer Blogi*/

#footer{
    background-color: rgb(46, 44, 44);
    color: white;
    text-align: center;
    margin: 20% 0;
    padding: 3%;
    line-height: 2.5;
}
#envelopewhite{
    color: white;
}

@media (max-width: 1028px ){
    .bigHeading{
        font-size: 2rem;
    }
    .startText{
        padding: 5% 15%;
        padding: 25% 5% 5% 5% ;
        background-color: rgb(46, 44, 44);
        color: white;
    }
    .container {
        width: 100%;
        height: 120px;
    }
 

    }
    /********************* Blogi **************************/
    .blogitekstit{
        background-image: url('images/ruusut.jpg') ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        min-height: 1000px;/* poista tarvittaessa...*/
    }
    .blogitekstit div{
        background-color: white;
        width: 70%;
        margin-left: 15%;
        padding: 0.5%;
    }
    .blogitekstit h3{
      text-align: left;
      font-size: 2.5rem;
      font-weight: 900;
    }
    
    .blogitekstit h3 .btn{
        float: right;
        margin: 10px;
      }

    #lueblogia1, #lueblogia2, #lueblogia3, #lueblogia4, #lueblogia5{
    display: none;
    font-family: 'Montserrat';
    text-align: left;
    }
    .footerBlogi{
        background-color:  rgb(46, 44, 44);
        color: white;
        padding: 3%;
        line-height: 2.5;
    }

    @media (max-width: 1028px ){
        .blogitekstit h3{
            font-size: 1rem;
          }
        .blogitekstit div{
            width: 98%;
            margin-left: 1%;
            padding: 2.5%;
        } 
        .blogitekstit h3 .btn{
            float: right;
            margin: -5px;
            
          } 
    }

    /********************* Taiteilijasta  ********************/
   
    #omanimi{
        color: black;
    }
    #omakuva{
        width: 13%;
        border-radius: 50%;
        margin-top: 3%;
    }
 #copyright{
    font-family: 'var(--bs-font-sans-serif)';
 }
    .part2{
        margin-top: 07%;
    }
    .part2 div{
        text-align: left;
        font: 'Lato';
        font-size: 20px;
        line-height: 200%;
        padding: 3%;
    }
    .startTextOthers{
        padding: 10% 25% 1% 25% ;
        background-color: rgb(46, 44, 44);
        color: white;
    }

    @media (max-width: 1028px ){
        #omakuva{
            width: 40%;
            border-radius: 50%;
            margin-top: 3%;
        }
        .startTextOthers{
            padding: 25% 25% 5% 25%;
        }

        }

    @media (max-width: 1300px ){
            #omakuva{
                width: 20%;
                border-radius: 50%;
                margin-top: 3%;
            }
            }

   /***********    ota yhteyttä    ***********************/      
   .container-fluid div{
     padding: 3%;
     text-align: left;
   }
  .yteysOtsikko{
      color: red;
      font-weight: 700;
      font-size: 2rem;
  }
  #vaihtoehdot{
      font-size: 1.5rem;
  }
  @media(max-width:844px){
    .fa-envelope{
        font-size:100px;
    }
    .fa-paper-plane{
        display: none;
    }
} 